fnm use

# Use ganache testnet node for all RPC calls
export ETH_RPC_URL=http://localhost:8545

# Set an address as the default sender
export ETH_FROM=0xd08f67044c53d723686e002c5b880f73674e164c

# Look for my key files in a custom directory
# export ETH_KEYSTORE=~/.dapp/testnet/8545/keystore

export SC_COUNTER_ADDR=
export ETH_GAS=7984363